img/card_1_thresholded.png
img/card_2_thresholded.png
img/card_3_thresholded.png
__pycache__/ocr.cpython-310.pyc
test_image.webp:Zone.Identifier
img/temp_image.webp
.env
img/temp_image - Copy.webp:Zone.Identifier
